<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Jolly+Lodger" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
  </head>
  <body >
    <div id="hogwarts-background">
        <div id="form-wrapper">
          <h1>Tell us your potions</h1>

          <form method="POST" action="https://gitschooledalexaapp.herokuapp.com/potions" >

            <h3>When you share your brilliant potions with us, can you please help these muggle developers out and fill out each portion of the form as well as type out your numeric values: rather than 3, please type three. Thanks!</h3>
            
            <label for="title">Name of your potion: </label>
            <input type="text" id="potion-name" name="title">
            <br><br>

            <label for="description">Tell us what your potion does: </label>
            <input type="text" id="potion-does" name="description">
            <br><br>



            <label for="ingredient-names">Tell us your ingredients - up to 5: </label>
            <br>
            
            <label for="ingredient-one">Ingredient one: </label>
            <input type="text" id="ingredient-one" name="ingredients">
            <br>


            <label for="ingredient-two">Ingredient two: </label>
            <input type="text" id="ingredient-two" name="ingredients">
            <br>
            <label for="ingredient-three">Ingredient three: </label>
            <input type="text" id="ingredient-three" name="ingredients">
            <br>
            <label for="ingredient-four">Ingredient four: </label>
            <input type="text" id="ingredient-four" name="ingredients">
            <br>
            <label for="ingredient-five">Ingredient five: </label>
            <input type="text" id="ingredient-five" name="ingredients">
            <br><br>


            <label for="potion-brew">How would one brew up your potion, step by step: </label>
            <label for="step-one">Step one: </label>
            <input type="text" id="step-one" name="instructions">
            <br>
            <label for="step-two">Step two: </label>
            <input type="text" id="step-two" name="instructions">
            <br>
            <label for="step-three">Step three: </label>
            <input type="text" id="step-three" name="instructions">
            <br>
            <label for="step-four">Step four: </label>
            <input type="text" id="step-four" name="instructions">
            <br>
            <label for="step-five">Step five: </label>
            <input type="text" id="step-five" name="instructions">
            <br>
            <br><br>

            
            <button type="submit" value="Submit" id="myButton">Expecto Submitto</button>
          </form>
        </div>
    </div>
  </body>
  <footer>
    <script src="./server.js"></script>
  </footer>
</html>